<% if @list.errors.any? %>
  <div id="list_error_area">
    Creation failed due to <%= pluralize(@list.errors.count, "error") %>.<br>
    <% @list.errors.full_messages.each do |m| %>
      <li><%= m %></li>
    <% end %>
  </div>
<% end %>

<%= form_with(model: @list) do |f| %>
  <%= f.label :"title" %><%= f.text_field :title %><br>
  <%= f.submit 'CREATE' %>
<% end %>
