<% if @list.errors.any? %>
  <div class='border rounded mt-2 mb-2' id='list_error_area'>
    <% @list.errors.full_messages.each do |m| %>
      <li><%= m %></li>
    <% end %>
  </div>
<% end %>

<%= form_with(model: @list) do |f| %>
  <div class='form-group'>
    <%= f.text_field :title,
                     placeholder: t('.list_title'),
                     class: 'form-control'
    %>
  </div>

  <div id='add_item'>
    <%= f.fields_for :items do |i| %>
      <%= render 'item_fields', f: i %>
    <% end %>
  </div>

  <div class='form-group'>
    <% if action_name == 'edit' %>
      <%= f.submit t('.update'), class: 'btn btn-primary btn-sm font-weight-light' %>
      <%= link_to_add_association t('.add_item'), f, :items,
            class: 'btn btn-primary btn-sm font-weight-light',
            id: 'add_item_link',
            data: { association_insertion_node: '#add_item',
                    association_insertion_method: 'append'
                  }
      %>
      <%= link_to t('.delete'), list_path(@list), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-secondary btn-sm font-weight-light' %>
    <% else %>
      <%= f.submit t('.create'), class: 'btn btn-primary btn-sm font-weight-light' %>
      <%= link_to_add_association t('.add_item'), f, :items,
            class: 'btn btn-primary btn-sm font-weight-light',
            id: 'add_item_link',
            data: { association_insertion_node: '#add_item',
                    association_insertion_method: 'append'
                  }
      %>
    <% end %>
  </div>
<% end %>
