<%= form_with(model: travel, local: true) do |f| %>
  <p><%= f.text_field :title %></p>
  <p><%= f.datetime_select :departured_at %></p>
  <p><%= f.datetime_select :returend_at %></p>
  <p><%= f.file_field :travel_image %></p>
  <p><%= f.submit %></p>
<% end %>
