  <% if @travel.errors.any? %>
    <div>
      <h3><%= pluralize(@travel.errors.count, "error") %> prohibited from being saved:</h3>
      <ul>
        <% @travel.errors.full_messages.each do |m| %>
          <li><%= m %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= form_with(model: travel, local: true) do |f| %>
  <p>
    <%= f.label :"title" %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :"departure date" %>
    <%= f.datetime_select :departured_at %>
  </p>
  <p>
    <%= f.label :"return date" %>
    <%= f.datetime_select :returend_at %>
  </p>
  <p>
    <%= f.label :"image" %>
    <%= f.file_field :travel_image %>
  </p>

  <%= f.fields_for :areas do |a| %>
  <p>area information<%= a.index + 1 %></p>
    <p>
      <%= a.label :"country" %>
      <%= a.text_field :country %>
    </p>
    <p>
      <%= a.label :"place" %>
      <%= a.text_field :place %>
    </p>
  <% end %>

  <% if action_name == 'edit' %>
    <%= f.submit "UPDATE" %>
    <%= button_to "DELETE", travel_path(@travel), data: { confirm: "Are you sure?" }, method: :delete %>
  <% else %>
    <%= f.submit "CREATE" %>
  <% end %>
<% end %>
