<%= stylesheet_link_tag 'travels', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class='col-sm-10 offset-sm-2 contents'>
  <% if action_name == 'edit' || action_name == 'update' %>
    <%= stylesheet_link_tag 'travels', media: 'all', 'data-turbolinks-track': 'reload' %>
    <h2><%= t('.edit_booklet') %></h2>
  <% else %>
    <%= stylesheet_link_tag 'personal', media: 'all', 'data-turbolinks-track': 'reload' %>
    <h2><%= t('.new_booklet') %></h2>
  <% end %>

  <% if @travel.errors.any? %>
    <div class='border rounded mt-2 mb-2' id='travel_error_area'>
      <% @travel.errors.full_messages.each do |m| %>
        <li><%= m %></li>
      <% end %>
    </div>
  <% end %>

  <hr>

  <%= form_with(model: travel, local: true) do |f| %>
    <div class='form-group'>
      <%= f.text_field :title,
                       placeholder: t('.booklet_title'),
                       class: 'form-control'
      %>
    </div>

    <div class='mb-4'>
      <label for='departed_at'><%= t('.departed_at') %></label>
      <%= f.date_select :departed_at %>

      <label for='returned_at'><%= t('.returned_at') %></label>
      <%= f.date_select :returned_at %>
    </div>

    <% if @travel.travel_image.present? %>
      <%= image_tag(@travel.travel_image.thumb.url, class: 'img-thumbnail mb-2') %>
      <div class='custom-control custom-checkbox'>
        <%= f.check_box :remove_travel_image,
                        class: 'custom-control-input',
                        id: 'remove_travel_image'
        %>
        <label class='custom-control-label mb-2' for='remove_travel_image'>
          <%= t('.cancel') %>
        </label>
      </div>
    <% end %>
    <%= f.file_field :travel_image, class: 'mb-4' %>
    <%= f.hidden_field :travel_image_cache %>

    <div id='add_area'>
      <%= f.fields_for :areas do |a| %>
        <%= render 'area_fields', f: a %>
      <% end %>
    </div>

    <% if action_name == 'edit' || action_name == 'update' %>
      <%= f.submit t('.update'), class: 'btn btn-primary btn-sm font-weight-light' %>

      <%= link_to_add_association t('.add_area'), f, :areas,
        class: 'btn btn-primary btn-sm font-weight-light',
        id: 'add_area_link',
        data: {
         association_insertion_node: '#add_area',
         association_insertion_method: 'append'
        }
      %>

      <%= link_to t('.delete'), travel_path(@travel),
          data: { confirm: 'Are you sure?' }, method: :delete,
          class: 'btn btn-secondary btn-sm font-weight-light'
      %>
    <% else %>
      <%= f.submit t('.create'), class: 'btn btn-primary btn-sm font-weight-light' %>

      <%= link_to_add_association t('.add_area'), f, :areas,
        class: 'btn btn-primary btn-sm font-weight-light',
        id: 'add_area_link',
        data: {
         association_insertion_node: '#add_area',
         association_insertion_method: 'append'
        }
      %>
    <% end %>
  <% end %>
</div>
