<% @travels.each do |t| %>
  <% if t.travel_image.url.nil? %>
    <p><%= link_to image_tag('blank.png'), t %></p>
  <% else %>
    <p><%= link_to image_tag(t.travel_image.thumb.url), t %></p>
  <% end %>
  <%= t.title %><br>
  <%= t.departured_at %><br>
  ~<%= t.returend_at %><br>
<% end %>

<hr>
<%= link_to 'トラベル新規作成', new_travel_path %>
