<%= stylesheet_link_tag 'personal', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class='col-sm-10 offset-sm-2 contents'>
  <h2><%= t('.booklets') %></h2>
  <%= render 'layouts/notice' %>
  <%= link_to t('.new_booklet'), new_travel_path, class: 'btn btn-primary btn-sm font-weight-light' %>

  <hr class='mb-0'>

  <div class='row'>
    <% @travels.each do |t| %>
      <div class='col-sm-3 travel_index'>
        <div class='card'>
          <% if t.travel_image.url.nil? %>
            <%= link_to image_tag('blank.png', class: 'card-img-top'), t %>
          <% else %>
            <%= link_to image_tag(t.travel_image.thumb.url, class: 'card-img-top'), t %>
          <% end %>
          <div class='card-body'>
            <div class='card-title'><%= t.title %></div>
            <div class='card-text'>
              <small>
                <%= l(t.departed_at, format: :custom) %> ~ <%= l(t.returned_at, format: :custom) %>
              </small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <hr class='mt-0'>

  <%= paginate @travels %>
</div>
