<%= stylesheet_link_tag 'travels', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class='col-sm-10 offset-sm-2 contents'>
  <div class='row'>
    <div class='col-12'>
      <h2><%= @travel.title %></h2>
      <%= render 'layouts/notice' %>
      <p class='mb-2'>
        <%= @travel.departed_at %> ~ <%= @travel.returned_at %> (<%= (@travel.returned_at - @travel.departed_at).numerator %>days)
      </p>
      <button type='button' class='btn btn-primary btn-sm' data-toggle='collapse' data-target='#collapse_areas' aria-expanded='false' aria-controls='collapse_areas'>
        行先
      </button>
      <%= link_to 'カード新規作成', new_card_path, class: 'btn btn-primary btn-sm' %>
      <%= link_to 'トラベル編集', edit_travel_path(@travel), class: 'btn btn-primary btn-sm' %>
    </div>

    <div class='col-12 table-responsive collapse' id='collapse_areas'>
      <table class='table table-sm table-hover text-nowrap'>
        <tbody>
          <thead class='thead-light'>
            <th>country</th>
            <th>place</th>
            <th>during </th>
          </thead>
          <% @travel.areas.each do |x| %>
            <tr>
              <td><%= x.country %></td>
              <td><%= x.place %></td>
              <td><%= x.arrived_at %> ~ <%= x.left_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <hr class='mb-0'>

  <div class='row'>
    <% @cards.includes(:images).each do |c| %>
      <div class='col-sm-3 card_index'>
        <div class='card'>
          <% if c.images.present? %>
            <%= link_to image_tag(c.images.first.data.thumb.url, class: 'card-img-top'), c %>
          <% else %>
            <%= link_to image_tag('blank.png', class: 'card-img-top'), c %>
          <% end %>
          <div class='card-body'>
            <div class='card-title'><%= c.title %></div>
            <div class='card-text'><small>updated at <%= I18n.l(c.updated_at, format: :custom) %></small></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <hr class='mt-0'>

  <%= paginate @cards %>
</div>
