<%= @travel.title %><br>
<%= 'departure date:' %><%= @travel.departured_at %><br>
<%= 'return date:' %><%= @travel.returend_at %><br>

<% @travel.areas.each_with_index do |x, i| %>
  area information<%= i+1 %><br>
  <%= 'country:' %><%= x.country %><br>
  <%= 'place:' %><%= x.place %><br>
<% end %>

<% @travel.cards.includes(:images).each do |c| %>
  <% if c.images.present? %>
    <%= link_to image_tag(c.images.first.data.thumb.url), c %><br>
  <% else %>
    <%= link_to image_tag('blank.png'), c %><br>
  <% end %>
  <%= c.title %><br>
<% end %>

<p>
  <%= link_to 'カード新規作成', new_card_path %>
  <%= link_to 'トラベル編集', edit_travel_path(@travel) %>
</p>

<hr>
<%= link_to 'トラベル詳細', travel_path(@travel) %>
<%= link_to 'メモ一覧', notes_path %>
