<p>
  <%= "title:" %>
  <%= @travel.title %>
</p>
<p>
  <%= "departure date:" %>
  <%= @travel.departured_at %>
</p>
<p>
  <%= "return date:" %>
  <%= @travel.returend_at %>
</p>
<% @travel.areas.each_with_index do |x, i| %>
  <p>area information<%= i+1 %></p>
  <p>
    <%= "country:" %>
    <%= x.country %>
  </p>
  <p>
    <%= "place:" %>
    <%= x.place %>
  </p>
<% end %>

<% @travel.cards.each do |c| %>
  <% if c.images.present? %>
    <p><%= link_to image_tag(c.images.first.data.url), c %></p>
  <% else %>
    <p><%= link_to image_tag('blank.png'), c %></p>
  <% end %>
  <p><%= c.title %></p>
<% end %>

<p><%= link_to "CARD NEW", new_card_path %></p>
<p><%= link_to "EDIT", edit_travel_path(@travel) %></p>

<hr>
<p>パーシャルへ分ける前のフッター</p>
<p><%= link_to "SHOW", travel_path(@travel) %></p>
<p><%= link_to "NOTE INDEX", notes_path %></p>
