<p>
  <%= "title:" %>
  <%= @travel.title %>
</p>
<p>
  <%= "departure date:" %>
  <%= @travel.departured_at %>
</p>
<p>
  <%= "return date:" %>
  <%= @travel.returend_at %>
</p>
<% @travel.areas.each_with_index do |x, i| %>
  <p>area information<%= i+1 %></p>
  <p>
    <%= "country:" %>
    <%= x.country %>
  </p>
  <p>
    <%= "place:" %>
    <%= x.place %>
  </p>
<% end %>

<p><%= link_to "EDIT", edit_travel_path(@travel) %></p>

<hr>
<p>パーシャルへ分ける前のフッター</p>
<p><%= link_to "SHOW", travel_path(@travel) %></p>
