<% if @note.errors.any? %>
  <div class='border rounded mt-2 mb-2' id='note_error_area'>
    <% @note.errors.full_messages.each do |m| %>
      <li><%= m %></li>
    <% end %>
  </div>
<% end %>

<%= form_with(model: @note) do |f| %>
  <div class='form-group'>
    <%= f.text_area :content,
                    placeholder: 'content',
                    class: 'form-control'
    %>
  </div>

  <% if @note.image.present? %>
    <%= image_tag(@note.image.thumb.url, class: 'img-thumbnail mb-2') %>
    <div class='custom-control custom-checkbox'>
      <%= f.check_box :remove_image,
                      class: 'custom-control-input',
                      id: 'remove_image'
      %>
      <label class='custom-control-label mb-2' for='remove_image'>
        cancel upload image
      </label>
    </div>
  <% end %>
  <%= f.file_field :image, class: 'mb-3' %>
  <%= f.hidden_field :image_cache %>

  <div class='custom-control custom-checkbox'>
    <%= f.check_box :importance,
                    { class: 'custom-control-input',
                      id: 'importance',
                      checked_value: 'true',
                      unchecked_value: 'false'
                    }
    %>
    <label class='custom-control-label mb-3' for='importance'>
      important
    </label>
  </div>

  <% if action_name == 'edit' %>
    <div class='form-group'>
      <%= f.submit 'UPDATE', class: 'btn btn-primary btn-sm' %>
      <%= link_to 'DELETE', note_path(@note), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-secondary btn-sm' %>
    </div>
  <% else %>
    <div class='form-group'>
      <%= f.submit 'CREATE', class: 'btn btn-primary btn-sm' %>
    </div>
  <% end %>
<% end %>
