<% @notes.each do |n| %>
  <p><%= link_to n.content,n %><%=n.created_at %></p>
<% end %>

<p><%= link_to "NOTE NEW", new_note_path %></p>

<hr>
<p>パーシャルへ分ける前のフッター</p>
<p><%= link_to "SHOW", travel_path(@associated_travel) %></p>
<p><%= link_to "NOTE INDEX", notes_path %></p>
