<%= stylesheet_link_tag 'travels', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class='col-sm-10 offset-sm-2 contents'>
  <h2><%= t('.notes') %></h2>
  <button type='button' class='btn btn-primary btn-sm font-weight-light' data-toggle='collapse' data-target='#note_area' aria-expanded='false' aria-controls='note_area'>
    <%= t('.new_note') %>
  </button>
  <div class='collapse' id='note_area'>
    <%= render partial: 'notes/new', locals: { note: @note } %>
  </div>

  <hr>

  <div id='notes_area'>
    <%= render partial: 'notes/index', locals: { notes: @notes } %>
  </div>

  <hr>

  <%= paginate @notes %>
</div>
