<%= stylesheet_link_tag 'personal', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class='col-sm-10 offset-sm-2 contents'>
  <h2><%= t('.all_notes') %></h2>

  <hr>

  <% @notes.each do |n| %>
    <li><%= link_to n.content, n, class: 'notes_content' %></li>
    <p>( <%= l(n.created_at, format: :long) %> )</p>
  <% end %>

  <hr>

  <%= paginate @notes %>
</div>
