<%= @note.content %><br>
<%= image_tag(@note.image.url) if @note.image.present? %><br>
<%= 'create_at:' %><%= @note.created_at %><br>
<%= 'update_at:' %><%= @note.updated_at %><br>

<p>
  <%= link_to 'メモ新規作成', new_note_path %>
  <%= link_to 'メモ編集', edit_note_path(@note) %>
</p>

<%= render 'layouts/travels_footer' %>
