<%= stylesheet_link_tag 'travels', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class='col-sm-10 offset-sm-2 contents'>
  <% if action_name == 'edit' %>
    <h2>Edit card</h2>
  <% else %>
    <h2>New card</h2>
  <% end %>

  <hr>

  <% if @card.errors.any? %>
    <div class='border rounded mt-2 mb-2' id='card_error_area'>
      <% @card.errors.full_messages.each do |m| %>
        <li><%= m %></li>
      <% end %>
    </div>
  <% end %>

  <%= form_with(model: card, local: true) do |f| %>
    <%= f.select :frame_style, @card.frame_style_labels,
          { include_blank: @card.frame_style_label },
          class: 'custom-select mb-3'
    %>

    <%= f.select :font_style, @card.font_style_labels,
          { include_blank: @card.font_style_label },
          class: 'custom-select mb-3'
    %>

    <%= f.fields_for :images do |i| %>
      <%= i.file_field :data, class: 'mb-3' %><br>
    <% end %>

    <div class='form-group'>
      <%= f.text_field :title,
                       placeholder: 'title',
                       class: 'form-control'
      %>
    </div>

    <div class='form-group'>
      <%= f.text_area :sentence,
                      placeholder: 'sentence',
                      class: 'form-control'
      %>
    </div>

    <% if action_name == 'edit' %>
      <div class='form-group'>
        <%= f.submit "UPDATE", class: 'btn btn-primary btn-sm' %>
        <%= link_to "DELETE", card_path(@card), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-secondary btn-sm' %>
      </div>
    <% else %>
      <div class='form-group'>
        <%= f.submit "CREATE", class: 'btn btn-primary btn-sm' %>
      </div>
    <% end %>
  <% end %>
</div>
