<%= stylesheet_link_tag 'travels', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class='col-sm-10 offset-sm-2 contents'>
  <h2>Card config</h2>
  <%= render 'layouts/notice' %>

  <hr>

  <p class='text-justify'><%= @card.sentence %></p>
  <% @card.images.each_with_index do |x| %>
    <% if x.present? %>
      <%= image_tag(x.data.url, class: 'img-thumbnail mb-3') %>
    <% else %>
      <%= image_tag('sample_card_image.png') %>
    <% end %>
  <% end %>

  <hr>

  <%= link_to 'カード編集', edit_card_path(@card), class: 'btn btn-primary btn-sm' %>
  <%= link_to 'PDFで表示', card_path(@card, format: 'pdf'), class: 'btn btn-primary btn-sm' %>
  <%= link_to 'ダウンロード', download_card_path(@card), class: 'btn btn-primary btn-sm' %>
</div>
