<%= @card.sentence %><br>

<% @card.images.each_with_index do |x| %>
  <% if x.present? %>
    <%= image_tag(x.data.url) %><br>
  <% else %>
    <%= image_tag('sample_card_image.png') %><br>
  <% end %>
<% end %>

<p>
  <%= link_to 'カード編集', edit_card_path(@card) %>
  <%= link_to 'カード新規作成', new_card_path %>
</p>

<%= render 'layouts/travels_footer' %>
