<header class='navbar fixed-top' id='header'>
  <% if controller_name == 'users' && action_name == 'personal' %>
    <div class='col-4'>
      <small>
        <%= link_to t('.edit_user'), edit_user_registration_path %>
      </small>
    </div>
    <%= image_tag('title.png', class: 'header_image') %>
    <div class='col-4 text-right'>
      <small>
        <%= link_to t('.log_out'), destroy_user_session_path, method: :delete %>
      </small>
    </div>
  <% else %>
    <div class='col-4'>
      <small>
        <%= link_to t('.home'), user_path %>
      </small>
    </div>
    <%= image_tag('title.png', class: 'header_image') %>
    <div class='col-4 text-right'>
      <small>
        <%= link_to t('.back'), :back %>
      </small>
    </div>
  <% end %>
</header>
