<%= stylesheet_link_tag 'sidebar', media: 'all', 'data-turbolinks-track': 'reload' %>

<nav class='col-2 flex-column' id='sidebar'>
  <%= image_tag('logo.png', class: 'logo_image') %>

  <hr class='dotted_white'>

  <%= link_to t('.home'), user_path,
              class: 'nav-link font-weight-light' %>

  <% if controller_name == 'travels' && action_name == 'show' %>
    <%= link_to t('.booklets'), travels_path,
                class: 'nav-link font-weight-light' %>
  <% elsif %>
    <%= link_to t('.index'), travel_path(@associated_travel),
                class: 'nav-link font-weight-light' %>
  <% end %>

  <%= link_to t('.notes'), notes_path,
              class: 'nav-link font-weight-light' %>
  <%= link_to t('.lists'), lists_path,
              class: 'nav-link font-weight-light' %>
  <%= link_to t('.back'), :back,
              class: 'nav-link font-weight-light' %>

  <hr class='dotted_white'>

  <%= link_to t('.edit_user'), edit_user_registration_path,
              class: 'nav-link font-weight-light' %>
  <%= link_to t('.log_out'), destroy_user_session_path,
              method: :delete,
              class: 'nav-link font-weight-light' %>
</nav>
