<%= stylesheet_link_tag 'sidebar', media: 'all', 'data-turbolinks-track': 'reload' %>

<nav class='col-2 flex-column' id='sidebar'>
  <%= image_tag('logo.png', class: 'logo_image') %>

  <hr class='dotted_white'>

  <%= link_to 'HOME', user_path,
              class: 'nav-link font-weight-light' %>
  <%= link_to 'BOOKLETS', travels_path,
              class: 'nav-link font-weight-light' %>
  <%= link_to 'ALL NOTES', personal_notes_path,
              class: 'nav-link font-weight-light' %>
  <%= link_to 'ALL LISTS', personal_lists_path,
              class: 'nav-link font-weight-light' %>
  <%= link_to 'BACK', :back,
              class: 'nav-link font-weight-light' %>

  <hr class='dotted_white'>

  <%= link_to 'EDIT USER', edit_user_registration_path,
              class: 'nav-link font-weight-light' %>
  <%= link_to 'LOG OUT', destroy_user_session_path,
              method: :delete, class: 'nav-link font-weight-light' %>
</nav>
