<!DOCTYPE html>
<html>
  <head>
    <title>Mail to Me !</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# ヘッダー %>
    <% if user_signed_in? %>
      <% if action_name == 'show' && controller_name == 'users' %>
        <%= link_to 'ユーザー編集', edit_user_registration_path %>
      <% else %>
        <%= link_to 'ユーザー詳細', user_path %>
      <% end %>
      <% if action_name == 'index' && controller_name == 'travels' %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to '戻る', :back %>
      <% end %>
      <hr>
    <% end %>

    <%# 通知 %>
    <% if notice.present? %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
