<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Mail to Me !</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container-fluid'>
      <% if user_signed_in? %>
        <%# 各personalページおよびトラベルの詳細以外、ユーザー編集 %>
        <% if action_name == 'personal' || (controller_name == 'travels' && action_name != 'show') || (controller_name == 'registrations') %>
          <%= render 'layouts/header' %>
          <div class='row contents_wrapper'>
            <%= render 'layouts/users_sidebar' %>
            <%= yield %>
          </div>
          <%= render 'layouts/users_footer' %>
        <%# ノートおよびリスト、カード、トラベル詳細 %>
        <% else %>
          <%= render 'layouts/header' %>
          <div class='row contents_wrapper'>
            <%= render 'layouts/travels_sidebar' %>
            <%= yield %>
          </div>
          <%= render 'layouts/travels_footer' %>
        <% end %>
      <%# トップページ %>
      <% elsif controller_name == 'users' && action_name == 'landing' %>
        <%= yield %>
      <% else %>
      <%# サインアップおよびログイン %>
        <header class='navbar fixed-top' id='header'>
          <%= image_tag('title.png', class: 'header_image') %>
        </header>
          <%= yield %>
        <footer class='navbar fixed-bottom' id='footer'>
          <div class='url_footer mb-0'>
            <small class='font-weight-light'>
              https://mail-to-me.herokuapp.com/
            </small>
          </div>
        </footer>
      <% end %>
    </div>
  </body>
</html>
