<%= stylesheet_link_tag 'devise', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class='form_wrapper'>
  <div class='form_inner'>
    <h2><%= t('.sign_up') %></h2>
    <%= render 'layouts/notice' %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <% if resource.errors.any? %>
        <div class='border rounded' id='registrations_error_area'>
            <% resource.errors.full_messages.each do |m| %>
              <li><%= m %></li>
            <% end %>
        </div>
      <% end %>

      <div class='form-group'>
        <%= f.text_field :name,
                         autocomplete: 'name',
                         placeholder: t('.name'),
                         class: 'form-control'
        %>
      </div>

      <div class='form-group'>
        <%= f.email_field :email,
                          autocomplete: 'email',
                          placeholder: t('.email'),
                          class: 'form-control'
        %>
      </div>

      <div class='form-group'>
        <%= f.password_field :password,
                             autocomplete: 'new-password',
                             placeholder: t('.password', num: @minimum_password_length),
                             class: 'form-control'
        %>
      </div>

      <div class='form-group'>
        <%= f.password_field :password_confirmation,
                             autocomplete: 'new-password',
                             placeholder: t('.password_confirmation'),
                             class: 'form-control'
        %>
      </div>

      <div class='form-group mb-0'>
        <%= f.submit t('.sign_up'), class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
